@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bo8b4w');
  src:  url('fonts/icomoon.eot?bo8b4w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bo8b4w') format('truetype'),
    url('fonts/icomoon.woff?bo8b4w') format('woff'),
    url('fonts/icomoon.svg?bo8b4w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more_vert:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-user:before {
  content: "\e971";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-share2:before {
  content: "\ea82";
}
